

build
doctest

*.swp

# Compiled Object files
*.lo
*.o

# Compiled Dynamic libraries
*.so


# Compiled Static libraries
*.la
*.a

# Test programs
test_*
get*
twot*
regex*
run_tests
run_connectivity_tests

# CodeQL build artifacts
_codeql_build_dir
_codeql_detected_source_root

