# This is a definition file for GitLab CI.

default:
  timeout: 120m

stages:
  - build_and_test

#######################################################################################################################
### Building stages.
#######################################################################################################################
# These stages demonstrate how to gather all needed dependencies, build Ygor, and test the built binaries.

# CI build on Debian stable.
# Notes: reduced (or missing) optimization, some components may be missing.
build_ci_debian_stable:
  stage: build_and_test
  tags: [ygor, docker, linux]
  needs: []
  image: "debian:stable"
  before_script:
    - "export DEBIAN_FRONTEND='noninteractive'"
    - "apt-get update --yes"
    # Build requirements.
    - "apt-get install --yes --no-install-recommends git cmake make g++ rsync wget ca-certificates"
    # Binary requirements.
    - "apt-get install --yes --no-install-recommends libboost-dev libgsl-dev libeigen3-dev"
  script:
    - |
      ./compile_and_install.sh
      ./tests2/compile_and_run.sh
      ./tests/compile.sh
      for i in ./tests/test_* ./tests/report* ; do printf "== $i ==\n" ; timeout 5s "$i" || true ; done

# CI build on Arch Linux.
# Notes: reduced (or missing) optimization, some components may be missing.
build_ci_arch:
  stage: build_and_test
  tags: [ygor, docker, linux]
  needs: []
  image: "archlinux:latest"
  before_script:
    - "curl -o /etc/pacman.d/mirrorlist 'https://archlinux.org/mirrorlist/?country=all&protocol=http&ip_version=4&use_mirror_status=on'"
    - "sed -i 's/^#Server/Server/' /etc/pacman.d/mirrorlist"
    - "useradd -r -d /var/empty builduser"
    - "mkdir -p /var/empty/"
    - "chown -R builduser:builduser /var/empty/"
    - "printf '\\n''builduser ALL=(ALL) NOPASSWD: ALL''\\n' >> /etc/sudoers"
    - "chown -R builduser:builduser ."
    # Build requirements.
    - "pacman -Syu --noconfirm --needed base-devel git cmake gcc rsync wget ca-certificates"
    # Binary requirements.
    - "pacman -Syu --noconfirm --needed boost gsl eigen"
  script:
    - |
      su - builduser -c "cd '$(pwd)' && ./compile_and_install.sh -b build"
      ./tests2/compile_and_run.sh
      ./tests/compile.sh
      for i in ./tests/test_* ./tests/report* ; do printf "== $i ==\n" ; timeout 5s "$i" || true ; done

